* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    min-width: 600px;
    background-image: linear-gradient(130deg, #FFF, #1C3F80);
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family:  'Raleway', sans-serif;
}

.logo {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 500px;
    padding: 1.5rem 0;
    align-items: center;
}

form {
    background-color: #FFF;
    padding: 15px;
    border-radius: 5px;
    display: flex;
}

input[type="text"] {
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1rem;
    font-family:  'Raleway', sans-serif;
    color: #595959;
    flex-grow: 1;
}

button {
    font-size: 1.3rem;
    background-color: #FFF;
    outline: 0;
    border: none;
    color: #595959;
    padding: 0 3px;
}

button:hover {
    color: lightcoral;
}

.todolist {
    background-color: #FFF;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px, 25px;
    height: 100%;
}

todo ul {
    padding-left: 0;
    list-style: none;
}

todo li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 15px;
    font-size: 1rem;
    color: #595959;
}

.todo-item {
    flex-grow: 1;   
}

.clearAll {
    display: flex;
    justify-content: flex-end;
    padding: 10px 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

.clearAll:hover {
    color: lightcoral;
}

/* Creates a full-height, left-mounted navigation menu */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

/* Making these look fantastic */
.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}
